<?xml version="1.0"?>
<configuration debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldBlue(%date{dd-MM-yyyy'T'HH:mm:ssZ}) %highlight(%.-1level %logger{0} - %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-STDOUT" class="ch.qos.logback.classic.AsyncAppender" queueSize="2048">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="org.elasticsearch" level="DEBUG"/>
    <logger name="org.apache" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="ASYNC-STDOUT"/>
    </root>
</configuration>
